<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Techcareer.net</h1>
        <p class="col-md-8 fs-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis repudiandae neque ut blanditiis amet aut quas autem, veritatis aliquid a animi laboriosam assumenda modi quasi reiciendis labore deserunt officiis nulla.</p>
        <button class="btn btn-primary btn-lg">Detaya Git</button>
    </div>
</div>