<nav class="navbar navbar-expand-sm navbar-dark bg-success">
            <div class="container">
                <a href="#" class="navbar-brand">Techcareer.net</a>
                <ul class="navbar-nav">
                    <li class="navbar-item">
                        <a asp-controller="Bootcamp" asp-action="Index" class="nav-link">Home</a>
                    </li>
                    <li class="navbar-item">
                        <a asp-controller="Bootcamp" asp-action="List" class="nav-link">Bootcampler</a>
                    </li>
                </ul>
            </div>
        </nav>