@model BootcampKayit
<h2>Bootcamp Kayıt ekleme</h2>
<hr>

<form asp-controller="BootcampKayit" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="OgrenciId" class="form-label">Öğrenci Adı</label>
        <select asp-for="OgrenciId" asp-items="ViewBag.Ogrenciler" class="form-select">
            <option value="0">Hepsi</option>
        </select>
    </div>
    <div class="mb-3">
        <label asp-for="BootcampId" class="form-label">Bootcamp Adı</label>
        <select asp-for="BootcampId" asp-items="ViewBag.Bootcamps" class="form-select">
            <option value="0">Hepsi</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>